doctype html
// all styles/assets need to be relative to the "emails" directory AKA /emails
link(rel="stylesheet", href="/shared/style.css", data-inline)
html
    body
        - const emailAssetsUrl = `${baseUrl}/emails`
        table
            tbody
                tr
                    td
                        - const placeholderURL = `${emailAssetsUrl}/header.png`
                        img(id="header" src=placeholderURL)
                tr
                    td(class="bolded")
                        block address
                            p Hi #{name},
                tr
                    td
                        block content
                tr
                    td
                        div(id="footer")
                            div(id="closing")
                                p(class="bolded") Thank you!
                                p Hack4Impact Team
                            div(id="socials")
                                - const websiteLogoURL = `${emailAssetsUrl}/globe.png`
                                - const instagramLogoURL = `${emailAssetsUrl}/instagram.png`
                                - const linkedinLogoURL = `${emailAssetsUrl}/linkedin.png`
                                a(href="https://hack4impact.org/", rel="noopener noreferrer", target="_blank")
                                    img(class="social right" src=websiteLogoURL)
                                a(href="https://www.instagram.com/hack4impact/", rel="noopener noreferrer", target="_blank")
                                    img(class="social left right" src=instagramLogoURL)
                                a(href="https://www.linkedin.com/company/hack4impact/", rel="noopener noreferrer", target="_blank")
                                    img(class="social left" src=linkedinLogoURL)
